*
{
    box-sizing: border-box;
}
#movies{
 display: grid;
 grid-template-columns: repeat(3,1fr);
 gap: 20px;
}
.movie{
 box-shadow: 5px 5px 5px black;
 padding: 20px;
}
.movie img{
  height: 200px;
}