body
{
    z-index:1
}
.d-none{
       display: none;
}
#modal
{
    padding: 50px;
    background-color: aqua;
    color: black;
  
    border: 2px solid black;
    z-index: 2;
    position: absolute;
    top: 40%;
    left:40%;
}
.dark
{
    background-color: black;
    color: white;
}