body
{
    background-color: antiquewhite;
    color: black;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
#counter
{
    height: 30vh;
    width: 50vh;
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
p{
    font-size: 3rem;
}
button
{
    background-color: black;
    color: white;
    padding: 0.8rem;
    border-radius: 0.8rem;
}
