* {
	box-sizing: border-box;
	padding: 0px;
	margin: 0px;
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	background-color: beige;
}
h1 {
	text-align: center;
}
#main {
	display: grid;
	gap: 10px;
	padding: 2rem;
	grid-template-columns: repeat(3, 1fr);
}
.product {
	padding: 10px;
	max-width: 150px;
	background-color: white;
	border-radius: 10%;
	box-shadow: 5px 5px 5px aqua;
}

.product img {
	height: 100px;
	width: 100px;
}
@media screen and (max-width:768px) {
    #main{

        grid-template-columns: repeat(2,1fr);
    }
}
@media screen and (max-width:480px) {
    #main{

        grid-template-columns: repeat(1,1fr);
    }
}
.modal
{
	display: none;
	position: absolute;
	top: 40%;
	left: 40%;
	padding: 50px;
	border-radius: 20px;
	background-color: aliceblue;
}
